.employee{

  padding: 10px;
  
  background-image:linear-gradient(to bottom, rgb(166 244 251) , rgb(234 234 234));
  height: auto;
  width:100vw;
  /* height: 100vh; */
  /* align-items: center; */
}

.employee h4{
  font-size: 1.5rem;
  color: rgb(56, 55, 55);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}


.employee__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width:70%;
  margin: 10px auto;
}